doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      function submitContents(option) {
        var title = $('#addContentSubject').val();
        var content = $('#addContents').val();
        var author = $('#addContentAuthor').val();
        if (option == 'add') {
          if (title == '' || content == '' || author == '') {
            alert('Title, Author, Contents are needed');
          } else {
            $('#writeAction').submit();
          }
        }
      }
body
  div.main
    a(href='/board')
      h2= title
    table
      tr
        th No.
        th Title
        th Author
        th Date
      if contents.length > 0
        each content, index in contents
          tr
            td.number= index
            td.title
              a(href='/board/view?id=' + content._id)= content.title
            td.author= content.author
            td.date= content.published_date
    hr
    div.write_form
      form(id='writeAction', action='/board', method='POST')
        p
          input(type='text', class='inputSubject', id='addContentSubject', name='addContentSubject', placeholder='Title')
        p
          input(type='text', class='inputAuthor', id='addContentAuthor', name='addContentAuthor', placeholder='Author')
        p
          textarea(class='textContents', id='addContents', name='addContents', rows=20, cols=80)
    div(id='new', class='addBtnGroup')
      a(onclick='submitContents("add");')
        div SUBMIT
      a(onclick='calcelWriteForm("cancel");')
        div CANCEL
