doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      function submitContents(option) {
        var title = $('#addContentSubject').val();
        var content = $('#addContents').val();
        var author = $('#addContentAuthor').val();
        if (option == 'add') {
          if (title == '' || content == '' || author == '') {
            alert('Title, Author, Date, Contents are needed');
          } else {
            $('#writeAction').submit();
          }
        }
      }
body
  div.main
    div.content-title= content.title
    div.content-date= content.published_date
    div.content-author= content.author
    div.content-text= content.content
    a(href='/board')
      div.content-Btn= OK
